{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not list_projects %}
                <p>You are not assigned to any projects</p>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in show_project %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.number_of_tasks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content%}
